.mg-top-24
  .panel.panel-default.mg-top-24
    .panel-heading
      %h1 Редактировать
    .panel-body
      = simple_form_for(@setting, url: admin_setting_path(@setting.var), method: 'patch') do |f|
        = f.input :value, rows: 10, label: "#{@setting.var}:"
        = f.button :submit
