%table.table.table-bordered.table-hover.mg-top-24
  %tr
    %th Параметр
    %th Значение
    %th

  - @settings.each do |key, value|
    %tr
      %td.td-130= key
      %td= value
      %td.td-130.td-right= link_to icon('fa-edit', 'редактировать'), edit_admin_setting_path(key)
