%h1.center.post-title Заметки по разработке на ROR
.row
  .col-md-1
  .col-md-10
    %p.lead.center Описан процесс, последовательность действий без объяснений "зачем" и  "почему", причем некоторые шаги, само-собой разумеющиеся, пропущены.
  .col-md-1
= render @posts

.center
  = will_paginate @posts, renderer: BootstrapPagination::Rails

