<p>Привет <%= @resource.email %>!</p>

<p>Кто-то просил ссылку для изменения пароля. Вы можете сделать это через ссылку ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не отправляли запрос, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится до тех пор, пока вы не перейдете по ссылке выше и не создадите новую.</p>
